#form_container {
	padding: 15px 15px;
	margin-top: 15px;
	background: #79797a;
	color: #fff;
}

body {
	background-color: #000;
	background-image: url("images/stduio-2035349_1280.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
